:root {
  --content-width: 1000px;
}

.api-box {
  background: var(--c-bg);
  border: 1px solid var(--c-border);
  margin: 1.5em 0;
}

.api-box .api-heading {
  background: var(--c-border);
  padding: 1rem 1rem 1rem;
}

.api-anchor {
    display: block;
    position: relative;
    top: -4.0em;
    visibility: hidden;
}

.simple-summary p {
  margin: 0.2em 0;
}

.api-summary-heading a {
  color: var(--c-text);
  text-decoration: none;
}
.api-summary-heading .return-type {
  color: var(--c-brand);
}

.api-box .api-heading a {
  color: var(--c-text);
  text-decoration: none;
}
.api-box .api-heading .return-type {
  color: var(--c-brand);
}

.api-box .api-body {
  padding: 0.2rem 1rem;
}

.api-badge {
  font-size: 13px;
  font-weight: 700;
  float: right;
  padding: 3px 5px 3px;
  border-radius: 5px;
  margin: 0px 3px 0px;
}

.api-badge.api-badge-orange {
  background: #fc6241;
  color: white;
}

.api-badge.api-badge-blue {
  background: #0d5176;
  color: white;
}

.api-badge.api-badge-green {
  background: #a5c445;
  color: white;
}

.api-badge.api-badge-purple {
  background: #8d4bbb;
  color: white;
}

.section-title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--c-text-lighter);
  margin: 0.2rem 1rem 0.2rem;
}

.method-return {
  margin: 0.2rem 2rem 0.5rem;
}

.parameter-item-list ul {
  margin: 0.2rem 0 1rem;
  list-style: none;
}

.parameter-item-list li {
  padding: 0.2rem 0.2rem 0.2rem;
}

.parameter-item-type {
  color: #2a9555;
  font-weight: 700;
  margin-right: 5px;
}
.parameter-item-name {
  color: var(--c-text-light);
  font-weight: 500;
}
.parameter-item-desc p {
  font-size: 15px;
  font-weight: 300;
  margin: 0.2em 0;
  line-height: 1.3rem;
}

.example {
  margin: 1rem 0;
}

.example .example-title {
  color: var(--c-text-light);
  font-weight: 600;
  padding: 1rem 0.2rem 0rem;
  margin: -0.5em 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600");
* {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}

.content code:after,
.content code:before {
  letter-spacing: 0.8px;
  letter-spacing: 0.05rem;
}
code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 24px;
  min-height: 1.5rem;
}

div[class*="language-csharp"] {
  &::before {
    content: "c#";
  }
}

div[class*=language-].ext-cs:before {
  content: "c#";
}